<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        <li class="nav-header">
            <!--
                Stock
            -->
            Kho
        </li>

        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <!--
                    Transactions
                    -->
                    
                    Nhập/Xuất kho
                </p>
            </a>
        </li>

        <li class="nav-header">
            <!--
            Report
            -->
            Báo cáo
        </li>

        <li class="nav-item">
            <a href="/Report/StoreStockReport" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    <!--
                    Store Stock
                    -->
                    
                    Tồn kho
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>
                    <!--
                    Transaction Detail
                    -->
                    Chi tiết hoạt động
                </p>
            </a>
        </li>

        <li class="nav-header">
            <!--
            Definitions
            -->
            Định nghĩa
        </li>

        <li class="nav-item">
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder"></i>
                <p>
                    <!--
                    Category
                    -->
                    Loại hàng hóa
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open"></i>
                <p>
                    <!--
                    Units
                    -->
                    Đơn vị
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                    <!--
                    Product
                    -->
                    Hàng hóa
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/NhaCungCap" class="nav-link">
                <i class="nav-icon fas fa-road"></i>
                <p>
                    Nhà cung cấp
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    <!--
                    Store
                    -->
                    Cửa hàng
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    <!--
                    User
                    -->
                    Người dùng
                </p>
            </a>
        </li>
        <li class="nav-header"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    <!--
                    Logout
                    -->
                    Đăng xuất
                </p>
            </a>
        </li>

    </ul>
</nav>