@model QuanLyKho.Model.ViewModel.KhuVucKhoTong.EditKhuVucKhoTongViewModel
@{
    ViewData["Title"] = "Create KhuVucKhoTong";
}
@section script{
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
}
    <section class="content pt-2">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Cập nhật khu vực kho tổng</h3>
                        </div>
                        <form asp-action="Create" asp-antiforgery="true" id="frmCreate">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="ten"></label>
                                    <input asp-for="ten" type="text" class="form-control">
                                    <span asp-validation-for="ten" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="KhoTongId">Loại</label>
                                    <select asp-for="KhoTongId" class="form-control" asp-items="Model.KhoTongList">
                                        <option value="">Chọn</option>
                                    </select>
                                    <span asp-validation-for="KhoTongId" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="card-footer text-right">
                                <a class="btn btn-default" href="/KhuVucKhoTong">Quay lại</a>
                                <button id="btnSave" type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
