@model QuanLyKho.Model.ViewModel.User.CreateUserViewModel
@{
    ViewData["Title"] = "Create User";
}
@section style{

    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
}
@section script{  
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });
        });
    </script>
}
<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm người dùng</h3>
                    </div>
                    <form asp-action="Create" asp-antiforgery="true" id="frmCreate">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="text" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Mật khẩu</label>
                                <input asp-for="Password" type="password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Tên</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname">Họ</label>
                                <input asp-for="Surname" type="text" class="form-control">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="cmnd"></label>
                                <input asp-for="cmnd" type="text" class="form-control">
                                <span asp-validation-for="cmnd" class="text-danger"></span>
                            </div>
                                <div class="form-group">
                                    <label asp-for="sdt"></label>
                                    <input asp-for="sdt" type="text" class="form-control">
                                    <span asp-validation-for="sdt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ngaysinh"></label>
                                    <input asp-for="ngaysinh" type="text" class="form-control datepicker">
                                    <span asp-validation-for="ngaysinh" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-default" href="/User">Trở lại</a>
                            <button id="btnSave" type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
